.outside-card {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;

  border: 4px solid #00529D;
  

  border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;

  box-shadow: 13px 10px 30px -12px #00529D;
  -webkit-box-shadow: 13px 10px 30px -12px #00529D;
  -moz-box-shadow: 13px 10px 30px -12px #00529D;
}

.header-card {
  display: flex;
  flex-direction: row;

  margin-bottom: 20px;
}

.inside-card {
  display: flex;
  flex-direction: row;

  border: solid 1px #072b7b;
  margin: 15px 10px;
  padding: 10px;
  height: 40px;

  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;

  box-shadow: 4px 4px 12px 0px #072b7b;
  -webkit-box-shadow: 4px 4px 12px 0px #072b7b;
  -moz-box-shadow: 4px 4px 12px 0px #072b7b;
}

.label-adverbio {
  font-size: x-large;
  font-weight: bold;
  color: #dce6df;

  padding-left: 20px;
  width: 150px;
}

.label-dia {
  color: #dce6df;
  width: 100px;

  padding: 4px 0;
}

.label-periodo {
  text-decoration: underline;
  font-weight: bold;
  color: #dce6df;

  padding-left: 10px;
  margin-right: 20px;
  width: 110px;
}

.label-nome {
  font-weight: bold;
  color: #dce6df;

  padding: 10px 0;
}
